<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <nav>
    <li><a ref = "/">Home</a></li>
    <li><a ref = "/login">Login</a></li>
    <li><a ref = "/register">Register</a></li>
   </nav> 
</body>
</html>